*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: #6716de;
    margin: 20px;
    padding: 10px;
    border: solid 2px;
    display: inline-block;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: #6a60de;
    margin: 20px;
    padding: 10px;
    border: solid 2px;
    display: inline-block;
}